{% extends "base.html" %}
<head>
<title></title>
</head>
<body>
{% block content %}    
<div class="container"> 
<!--   <div class="row">
    <div class="col-xs-9 col-md-3 col-lg-3" style="margin-left: 55vw; margin-top: 10vh;">
      <article id="variable_creation_tips" style="background-color: black; color: white; padding:10px; border-radius:10px; opacity: .6;">
        <ul style="padding-right:2em;">
          <li>choose a behavior that you do regularly, or intend to do regularly</li>
          <li>when naming your variable, choose a verb, or a combination of verbs that describes an action</li>
        </ul>
      <article>
    </div> 
  </div>  -->
   <div class="row" style="margin-top: 15vh;"> 
    <h1>make your own variable</h1>

    <form action="/add_new_variable" method="POST">
        Variable Name:<input type="text" name="variable_name" id="custom_variable"></input>
        Variable Unit of Measurement:<select name="unit_type" id="unit_type">
            <option value="hours">hours</option>
            <option value="minutes">minutes</option>
            <option value="mg">mg</option>
            <option value="oz">oz</option>
            <option value="cups">cups</option>
            <option value="mph">mph</option>
            <option value="lbs">lbs</option>
            <option value="miles">miles</option>
            <option value="times">times</option>
            <option value="bool">Yes/No</option>
        </select>
        <input type=submit id="submit_data"> 
    </form>
    <text id="countdown_feedback"></text>
  </div>
  <div class="row" style="margin-top: 25vh">
  </div> 
</div>  
          


<script src="https://code.jQuery.com/jQuery-3.2.1.min.js"> </script>
<script>

$("#custom_variable").keyup(function(){
  $("#countdown_feedback").text("Characters left: " + (29 - $(this).val().length));
});



$('#custom_variable').on('keyup keydown', function(e){
    console.log($(this).val().length > 29)
        if ($(this).val().length > 29 
            && e.keyCode != 46
            && e.keyCode != 8
           ) {
           e.preventDefault();     
           $(this).val().slice(0,29);
        }
    });

</script>

{% endblock %}
</body>

</html>   