{% extends "base.html" %}
<head>

<title></title>
</head>
<body>
{% block content %}    
<div class="container"> 

   <div class="row" style="margin-top: 15vh;">
    <h1>make your own variable</h1>
    <h4>what behavior would you like to start tracking?</h4>
      <div class="col-xs-4 col-md-3 col-lg-3">  
        

        <form action="/add_new_variable" method="POST">
        Variable Name:  <input type="text" name="variable_name" id="custom_variable" style="outline: none;"></input>
      </div>
      <div class="col-xs-9 col-md-4 col-lg-4">    
        Variable Unit of Measurement: <input type="text" name="unit_type" id="unit_type" style="outline: none;"></input>

         
      </div>
      <input type=submit id="submit_data">  
    </form>
  </div>
  <div class="row" style="margin-top: 5vh;">
    <div class="col-xs-9 col-md-3 col-lg-3"> 
    <text id="countdown_feedback"></text>
    </div>
    <div class="col-xs-9 col-md-4 col-lg-4"> 
    <text id="unit_feedback" style="line-height: 1.7;">if you just want to record weather or not you did something, leave the field for units of measurement empty. </text><text id="more_help" style="line-height: 1.7;">For custom variables, try to choose behaviors that you do regularly or want to do regularly, rather than activities which you only do intermittently, sporadically, or by chance. Additionally, when naming your variables, try to stick to present-tense verbs (for example "run" instead of "miles ran").</text><br><a id="get_tips" style="cursor: help;">more</a></text><br><text id="less" style="cursor: pointer; color: pink;">less</text>
  </div>
  </div>
  <div class="row" style="margin-top: 25vh">
  </div> 
</div>  
          


<script src="https://code.jQuery.com/jQuery-3.2.1.min.js"> </script>
<script>

$("#unit_feedback").hide();
$("#more_help").hide();
$("#get_tips").hide();
$("#less").hide();

$("#custom_variable").keyup(function(){
  $("#unit_feedback").hide();
  $("#countdown_feedback").text("characters left: " + (29 - $(this).val().length));
});


$('#custom_variable').on('keyup keydown', function(e){
    console.log($(this).val().length > 29)
        if ($(this).val().length > 29 
            && e.keyCode != 46
            && e.keyCode != 8
           ) {
           e.preventDefault();     
           $(this).val().slice(0,29);
        }
    });

function showHint() {

    $("#countdown_feedback").text("");
    setTimeout(function () { 
                
            
      $("#unit_feedback").fadeIn(1000);
      $("#get_tips").fadeIn(1750);
      }, 2000);
    };

$("#unit_type").keyup(showHint)

$("#get_tips").on('click', function(e){
  $("#more_help").toggle();
  $("#unit_feedback").toggle();
  $("#less").fadeIn(2000);
})


$("#less").on('click', function (e){
  $("#more_help").hide();
  $("#unit_feedback").hide();
  $("#less").hide();
})
</script>

{% endblock %}
</body>

</html>   