{% extends "base.html" %}
<head>
<title></title>
</head>
<body>
{% block content %}    
<div class="container">
  <div class="row" style="margin-top: 30vh">
    <h1>Create an annoying variable</h1>

    <form action="/add_new_variable" method="POST">
        Variable Name:<input type="text" name="variable_name" id="custom_variable"></input>
        Variable Unit of Measurement:<select name="unit_type" id="unit_type">
            <option value="hours">hours</option>
            <option value="minutes">minutes</option>
            <option value="mg">mg</option>
            <option value="oz">oz</option>
            <option value="cups">cups</option>
            <option value="bool">Yes/No</option>
        </select>
        <input type=submit id="submit_data"> 
    </form>
    <text id="countdown_feedback"></text>
  </div>
</div>  
          


<script src="https://code.jQuery.com/jQuery-3.2.1.min.js"> </script>
<script>

$("#custom_variable").keyup(function(){
  $("#countdown_feedback").text("Characters left: " + (29 - $(this).val().length));
});

$('#custom_variable').on('keyup keydown', function(e){
    console.log($(this).val().length > 29)
        if ($(this).val().length > 29 
            && e.keyCode != 46
            && e.keyCode != 8
           ) {
           e.preventDefault();     
           $(this).val().slice(0,29);
        }
    });

</script>

{% endblock %}
</body>

</html>   