{% extends "base.html" %}
<head>
    <title></title>
</head>
<body>
{% block content %}

 
<br><br>

<br>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<script src="//rawgithub.com/phpepe/highcharts-regression/master/highcharts-regression.js"> </script>

<div class="container" style="margin-left: 20vw; margin-right: 20vw; margin-bottom: 15vh;">
    <div class="row">
        <h1 id="name" style="margin-bottom: 1em">{{ name }}'s stats</h1><br>
        <div class="col-xs-12 col-md-9 col-lg-9">
            <div id="same_day_insight" style="margin-bottom: 2em"></div>
            <div id="chart-A" class="chart" style="margin-bottom: 10vh">
            </div> <!-- Container for Chart A -->
            <div class="spacer"></div><div id="text"></div>
        </div> 
    </div>
    <div class="row" style="margin-bottom: 10vh">       
        <div class="col-xs-12 col-md-9 col-lg-9">    
            <div id="next_day_insight" style="margin-bottom: 2em"></div>
            <div id="chart-B" class="chart"></div> <!-- Container for Chart B -->
            <div id="variable" class="chart"></div>
        </div>
    </div>
    <div class="row">         
        <div class="col-xs-12 col-md-5 col-lg-5">    
            <div id="test" class="chart">
                <canvas id="myChart"></canvas>
            </div>
        </div> 
    </div>
    {% if same_day_custom_variable_insight and next_day_custom_variable_insight %}
        <div class="row" style="padding-bottom: 20vh">
                <div class="col-xs-12 col-md-9 col-lg-9" style="border-style: solid; border-width: 1px; border-radius: 5px; border-color: gray; padding: 18px;">        
                    <div id="custom_variable_insight">{{ same_day_custom_variable_insight }} {{ next_day_custom_variable_insight }}</div>     
                </div>  
         
        </div>
    {% endif %}    
</div>


<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
"use strict";

let screentime = {{ screentime|tojson|safe }};
let sleep = {{ sleep|tojson|safe }};
let exercise = {{ exercise|tojson|safe }};
let screen_points = {{ screen_points|tojson|safe }};
let sleep_points = {{ sleep_points|tojson|safe }};
let exercise_points = {{ exercise_points|tojson|safe }};
let next_day_variable = {{ biggest_next_day_impact|tojson|safe }};
let next_day_insight = {{ next_day_insight|tojson|safe }};
let same_day_message = {{ same_day_message|tojson|safe }};
let json_custom_variables = {{ custom_variables_list|tojson|safe }};
 


$("#same_day_insight").html(same_day_message);



$(function () { 
   let  myChart = Highcharts.chart('chart-A', {
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: 'What You Do and How You Feel When You Do It'
        },
        xAxis: {
            title: {
                text: 'habits'
            }
        },
        yAxis: {
            title: {
                text: 'well-being'
            }
        },
        legend: {
                 align: 'right',
                verticalAlign: 'top',
                layout: 'vertical',
                x: 0,
                y: 100
            },

   
        series: [
           {regression: true ,
            regressionSettings: {
                type: 'polynomial',
                color:  'rgba(45, 90, 255, .9)',
                name: "r2: %r" 
            },
            name: 'sleep',
            color: 'rgba(45, 90, 255, .4)',
            data: sleep 
            },

            {regression: true ,
            regressionSettings: {
                type: 'polynomial',
                color:  'rgb(204, 102, 255)',
                name: "r2: %r" 
            },
            
            name: 'exercise',
            color: 'rgba(204, 102, 255, .4)',
            data: exercise 
            },

            {regression: true ,
            regressionSettings: {
                type: 'polynomial',
                color:  'rgb(223, 90, 40)',
                name: "r2: %r" 
            },
            
            name: 'screentime',
            color: 'rgba(223, 90, 40, .5)',
            data: screentime 
            }
                    ] 
    });



});

$('#text').html(next_day_variable);
$('#text').append(' tends to have the biggest impact on how you feel the <strong>next</strong> day.');
$('#next_day_insight').html(next_day_insight);


$(function () { 
   let  myChartNextDay = Highcharts.chart('chart-B', {
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: 'Behaviors & How You Feel the Next Day'
        },
        xAxis: {
            title: {
                text: 'habits'
            }
        },
        yAxis: {
            title: {
                text: 'well-being'
            }
        },
        legend: {
                align: 'right',
                verticalAlign: 'top',
                layout: 'vertical',
                x: 0,
                y: 100
            },

   
        series: [
           {regression: true ,
            regressionSettings: {
                type: 'polynomial',
                color:  'rgba(45, 90, 255, .9)',
                name: "r2: %r" 
            },
            name: 'sleep',
            color: 'rgba(45, 90, 255, .5)',
            data: sleep_points 
            },

            {regression: true ,
            regressionSettings: {
                type: 'polynomial',
                color:  'rgb(204, 102, 255)',
                name: "r2: %r" 
            },
            
            name: 'exercise',
            color: 'rgba(204, 102, 255, .4)',
            data: exercise_points 
            },

            {regression: true ,
            regressionSettings: {
                type: 'polynomial',
                color:  'rgb(223, 90, 40)',
                name: "r2: %r" 
            },
            
            name: 'screentime',
            color: 'rgba(223, 90, 40, .5)',
            data: screen_points
            }
                    ] 
    });



});
$("#myChart").hide();

let i = 0
for (let variable of json_custom_variables) {   
    $("#myChart").attr("id", "myChart"+i)
    let ctx = document.getElementById("myChart"+i).getContext('2d');
    let  myLineChart = new Chart(ctx, {
        type: 'line',
        data: sleep_points,
        options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
})
    $("#test").append(myLineChart);
    i ++;
};

for (let variable of json_custom_variables){
    $("#test").append(variable);
}    



</script>

    <div>

</div>
{% endblock %}
</body>
</html>