<!Doctype html>
<html>
<head>
    <title></title>
</head>
<body>
    <h3><a href="/my_stats">My Stats</a></h3>
  
<br><br><br>
<h1 id="name">{{ name }}'s stats</h1>



<br>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="//rawgithub.com/phpepe/highcharts-regression/master/highcharts-regression.js"> </script>


<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
"use strict";

let screentime = {{ screentime|tojson|safe }};
let sleep = {{ sleep|tojson|safe }};
let exercise = {{ exercise|tojson|safe }};




$(function () { 
   let  myChart = Highcharts.chart('container', {
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: 'Habits and Wellness'
        },
        xAxis: {
            title: {
                text: 'habits'
            }
        },
        yAxis: {
            title: {
                text: 'well-being'
            }
        },
        legend: {
                layout: 'vertical',
                align: 'left',
                verticalAlign: 'top',
                x: 100,
                y: 70,
                floating: true,
                backgroundColor: '#FFFFFF',
                borderWidth: 1
            },

   
        series: [
           {regression: true ,
            regressionSettings: {
                type: 'linear',
                color:  'rgba(45, 90, 255, .9)',
                name: "%eq | r2: %r" 
            },
            name: 'sleep',
            color: 'rgba(223, 83, 83, .5)',
            data: sleep 
            },

            {regression: true ,
            regressionSettings: {
                type: 'linear',
                color:  'rgba(40, 100, 2, .9)',
                name: "%eq | r2: %r" 
            },
            
            name: 'exercise',
            color: 'rgba(223, 83, 83, .5)',
            data: exercise 
            },

            {regression: true ,
            regressionSettings: {
                type: 'linear',
                color:  'rgba(60, 100, 2, 10)',
                name: "%eq | r2: %r" 
            },
            
            name: 'screentime',
            color: 'rgba(223, 90, 40, .5)',
            data: screentime 
            }
                    ] 
    });



});




</script>

    <div>

{% if 'current_user' in session %}
        <a href="/logout">Logout</a>
{% endif %}        

</div>
</body>
</html>