{% extends "base.html" %}
<head>
<title></title>
<style>



</style>
</head>
<body>
{% block content %}  



<div>

<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
<div class="container" style="margin-bottom: 10vh">
    <div class="row" style="margin-top: 10vh">        
        <h1>Record what you did and how you felt yesterday, {{ name }}.</h1>
    </div> 
    <div class="row" style="margin-top: 5vh"> 
            <form action="/add_info" id="daily_log" method="POST"> 
            How much did you sleep the night before last?       
                <input type="number" name="sleep_h" min="0" style="width: 34px;" required> hours

                <input type="number" name="sleep_m" min="0" style="width: 34px;" required> minutes

            <br><br>           
            How much did you exercise yesterday?
                <input type="number" name="exercise_h" min="0" style="width: 34px;" required> hours

                <input type="number" name="exercise_m" min="0" style="width: 34px;" required> minutes
            <br><br> 
            What was your screentime yesterday?
                    <input type="number" name="screentime_h" min="0" style="width: 34px;" required> hours
                    <input type="number" name="screentime_m" min="0" style="width: 34px;" required> minutes
                    <br><br> 
                {% if size > 0 %}
                    {% for i in custom_variables.keys() %}
                        {% if custom_variables[i]["unit"] != "B" %}
                            How much {{ custom_variables[i]["name"]}} did you get yesterday?
                        {% else %}     
                            Did you {{ custom_variables[i]["name"]}} yesterday?
                        {% endif %}    
                        <input type='float' name="{{custom_variables[i]["name"]}}" style="width: 34px;" required> 
                        {% if custom_variables[i]["unit"] != "B" %}    
                            {{ custom_variables[i]["unit"]}}<br><br>
                        {% else %}
                            <br><br>    
                        {% endif %}    
                    {% endfor %}   
                {% endif %}
            Rate your sense of well-being yesterday on a scale from 1-5
            <input type="number" name="wellness_score" min="1" min="5" style="width: 34px;">
            <text id="score_help">need help quantifying your sense of wellness?</text>
            <br>
            <div class="col-xs-9 col-md-4 col-lg-4"> 
            <text id="quantify_info"> euphoric; exalted; deeply contented 4) generally pleased; good amount of energy; feeling capable 3) feeling fine; average 2) feeling down; lower energy than usual 1) depressed; common tasks seem insurmountable; unable to experience pleasure.</text>
            </div>
            </div>
            <div class="row" style="margin-top: 5vh">   
            Submit data for yesterday: 
                <select name="date">
                    <option value="" id="choose_date"></option>
                </select><br>    
            <br> 
            <br><input type=submit id="submit_data">
            </form>
    </div>        
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

$("#quantify_info").hide();


$("#score_help").on('mouseover', function(){
  $("#quantify_info").fadeIn();
  $("#score_help").toggle();
});

$("#quantify_info").on('mouseleave', function(){
  $("#quantify_info").toggle();
  $("#score_help").toggle();
});
// click for people using their phones 
$("#score_help").on('click', function(){
  $("#quantify_info").toggle();
  $("#score_help").toggle();
});

$("#quantify_info").on('click', function(){
  $("#quantify_info").toggle();
  $("#score_help").toggle();
});


let today = new Date();
let yesterday = new Date(today);
    yesterday.setDate(today.getDate() - 1);
let dd = yesterday.getDate();
let mm = yesterday.getMonth()+1; //January is 0!
let yyyy = yesterday.getFullYear();
let yy = yyyy.toString();
yy = yy.slice(2,4);
yy = parseInt(yy);
if(dd<10){dd='0'+dd} if(mm<10){mm='0'+mm} yesterday = mm+'/'+dd+'/'+yy;
$("#choose_date").html(yesterday);




// </script> 

{% endblock %}
</body>

</html>                